/* Content */

.flexbox-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexbox-item
{
    width: 85%;
    max-width: 1920px;
    
}

.flexbox-item-1
{
    height: 940px;
    width: 100%;
    background: rgb(39,59,156);
    background: linear-gradient(180deg, rgba(39,59,156,1) 0%, rgba(255,255,255,1) 100%);
}

.flexbox-item-2
{
    min-height: 850px;
}

.flexbox-item-3
{
    min-height: 1150px;
}

.flexbox-item-2 h1, .flexbox-item-3 h1
{
    color: black;
}

.flexbox-item-4
{
    min-height: 400px;
    width: 100%;
    background-color: #5CBFCC;
}

.flexbox-item-5
{
    min-height: 200px;
}

.flexbox-item-6
{
    min-height: 511px;
    width: 100%;
}

.filler
{
    background: #fff;
}

.box-container
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 70px;
}

.box-item
{
    height: 200px;
    width: 264px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.box-item-img
{
    width: 55%;
    height: auto;
    margin: 0 auto;
}

.box-item-text
{
    flex-direction: row;
}

.box-item-text > p
{
    color: #000;
    z-index: 1;
    text-align: center;
    font-size: 15px;
}

.box-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-item-vi-tilbyder
{
    width: 80%;
    height: 30%;
    background-color: #FF5B4C;;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.box-item-vi-tilbyder > h3
{
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    font-weight: lighter;
}

.box-container-first, .box-container-second, .box-container-thrid, .box-container-fourth
{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.flexbox-item-3 h1, .flexbox-item-4 h1
{
    margin-top: 40px;
}

.call-to-action
{
    display: flex;
    justify-content: space-around;
}

.nyhedsbrev-cta, .bliv-kontaktet-cta
{
    width: 337px;
    height: 110px;
    text-align: center;
    background-color: #FF5B4C;
    margin-top: 50px;
}

.nyhedsbrev-cta h3, .bliv-kontaktet-cta h3
{
    text-align: center;
    margin-top: 32.5px;
}

.box-splitter
{
    display: flex;
    flex-direction: row;
}

@media (max-width: 868px) {


    .box-container-all
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .box-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .box-splitter
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .box-item-16, .box-item-15
    {
        margin-bottom: 100px;
    }

    .call-to-action
    {
        flex-direction: row;
    }

    .filler
    {
        display: none;
    }

    .flexbox-item-4
    {
        margin-bottom: 100px;
        min-height: 300px;
    }

    .bliv-kontaktet-cta, .nyhedsbrev-cta
    {
        width: 140px;
        height: 60px;
        text-align: center;
        background-color: #FF5B4C;
        margin-top: 50px;
    }

    .bliv-kontaktet-cta > h3, .nyhedsbrev-cta > h3
    {
        font-size: 15px;
        margin-top: 20px;
    }

    .flexbox-item-2 > h1, .flexbox-item-3 > h1, .flexbox-item-4 > h1
    {
        font-size: 50px;
    }

    .carousel-container 
    {
        width: 100px;
        height: 80px;
    }
}