body{
  font-family: 'Montserrat';
}

h1 {
  margin-top: 75px;
  font-size: 30px;
  color: black;
}

.form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.formtext {
  color: #636674;
}

.classform {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-upload {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}

.image-upload img {
  width: 10px;
  margin-right: 10px;
}

.sendknap {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  background-color: #ED94A8;
  border-radius: 10px;
  border: 1px solid #ED94A8;
  color: #FFF;
  width: 155px;
  font-size: 15px;
  transition: 0.2s ease-in-out;
  margin-top: 30px;
  box-shadow: 2px 2px rgb(195 195 195 / 80%);
}

.sendknap:hover {
  background-color: #FFF;
  cursor: pointer;
  color: #ED94A8;
}

.knapper {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.undertekst{
  text-align: left;
  margin-left: 20%;
}

.contacttext{
  font-size: 20px;
}

.feedback-input {
  color: black;
  font-family: Montserrat, sans-serif;
  font-weight:300;
  font-size: 12px;
  border-radius: 3px;
  line-height: 12px;
  background-color: transparent;
  border:1px solid #707070;
  padding: 7px;
  margin-bottom: 10px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus {
  border:2px solid #000;
}

textarea {
  height: 100px;
  line-height: 120%;
  resize: vertical;
}

[type="submit"] {
  font-family: Poppins, sans-serif;
  width: 80%;
  background: #5F2813;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color: white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;

  margin-top:-4px;
  font-weight:700;
}

input[type=submit]:hover {
  background-color: #AE957E;
  color: #F7F1E9;
}


.contactinfo {
  display: grid;
  background: #F7F1E9;
  border-radius: 20px;
  padding: 10px;
  margin-right: 20%;
  grid-gap: 1.5rem;
  position: relative;
  margin-bottom: 50px;
}

.contactbox{
  position: relative;
}

.infotext{
  float: left;
  padding: 5px;
  text-align: left;
}

.infoboxlogo{
  float: left;
  padding: 10px;
  margin-top: 10px;
  width: 40px;
  height: 40px;
}
