* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Montserrat,sans-serif;
}

h1
{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}

h2
{
    font-size: 50px;
    font-weight: bold;
}

h3
{
    font-size: 40px;
    font-weight: bold;
}

h4
{
    font-size: 25px;
    font-weight: bold;
}

p
{
    font-size: 20px;
}

a
{
    font-weight: normal;
}

ul
{
    list-style-type: none;
}

ul li
{
    margin-top: 10px;
}
    
ul li:first-child
{
    margin-left: 0;
}

.box-shadow
{
    -webkit-box-shadow: 6px 6px 17px 1px rgba(0,0,0,0.39); 
    box-shadow: 6px 6px 17px 1px rgba(0,0,0,0.39);
}

.box-shadow-2
{
    -webkit-box-shadow: -6px 0px 17px 9px rgba(0,0,0,0.10); 
    box-shadow: -6px 0px 17px 9px rgba(0,0,0,0.10);
}

h1,h2,h3,h4,h5,p,a
{
    color: white;
}

body {
    width: 100%;
    min-height: 100vh;
}

main {
    width: 100%;
    min-height: 800px;
    padding-top: 75px;
}

/* HEADER */

header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.content {
    max-width: 1500px;
    margin: auto;
    padding: 10px 25px;
}

.navbar {
    width: 100%;
    transition: all .3s ease;
    background-color: #273b9c;
}

.navbar .sticky {
    padding: 10px 0;
    background: #273b9c;
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.navbar .menu-list{
    display: inline-flex;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 25px;
    text-decoration: none;
    transition: all .3s ease;
}

.menu-list li a:hover {
    text-decoration: underline;
}
  
.highlight {
    text-decoration: underline !important;
    cursor: default;
}
  
.logo img {
    width: 200px;
}
  
.icon {
    color: #353854;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.icon.cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}
  
@media (max-width: 868px) {
    .icon {
        display: block;
        color: #fff;
    }

    .icon.hide {
        display: none;
    }
    .navbar .menu-list {
        position: fixed;
        z-index: 1;
        top: 0px;
        right: -100%;
        width: 250px;
        background: #273b9c;
        display: block;
        padding: 50px 0;
        text-align: center;
        transition: all .3s ease;
        border-bottom-left-radius: 25px;
    }

    .navbar .menu-list.active {
        right: 0%;
    }

    .navbar .menu-list li {
        margin-top: 45px;
    }

    .navbar .menu-list li a {
        font-size: 20px;
    }
}

/* Footer */


.footer
{
    background-color: #273B9C !important;
    display: flex;
    flex-direction: row;
}

.footer-left, .footer-right
{
    width: 25%;
    height: 517px;
}

.footer-middle
{
    width: 50%;
    height: 517px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-kbh-maps, .footer-aarhus-maps, .footer-odense-maps, .footer-malmo-maps
{
    min-width: 300px;
    max-width: 300px;
    min-height: 200px;
    max-height: 200px;
    background-color: white;
    z-index: 1;
    display: flex;
    position: relative;
    margin-top: 32.5px;
}

.footer-maps-ul
{
    margin-left: 10px;
}

.logo-footer, .logo-footer-img
{
    max-width: 90%;
    height: auto;
}

.socials-footer
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 10px 0 10px;
}

.social-box
{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.fa-facebook, .fa-twitter, .fa-linkedin, .fa-instagram
{
    text-align: center;
    top: 50%;
    text-decoration: none;
    color: black;
    font-size: 200px;
    transform: translateY(13px);
}

.text-footer-left
{
    display: table;
    margin: 40px 0 0 25px;
}

.text-footer-left-ul
{
    max-width: 50%;  
}

.text-footer-left-ul li
{
    display: inline;
    font-size: 20px;
}

.logo-footer
{
    max-width: 150%;
    max-height: 100%;
}

.footer-maps-ul
{  
    margin: 10px 0 0 10px;
}

.footer-maps-ul li
{
    display: inline;
    font-size: 15px;
}


.footer-maps h1, .footer-maps h2, .footer-maps h3, .footer-maps h4, .footer-maps p, .footer-maps a
{
    color: #000;
}

.footer-maps-container
{
    width: 60%;
    height: auto;
}

.footer-maps-location
{
    width: 100%;
    height: 100%;
    border-top-left-radius: 55px 100px;
    border-bottom-left-radius: 55px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.maps-footer-img
{
    width: auto;
    /* max-width: 200px; */
    max-height: 200px;   
    flex-shrink: 0;
}

.footer-right-container
{
    margin: 10px 0 0 40px
}

.footer-info
{
    margin-top: 30px;
}

.footer-aabningstider
{
    margin-top: 110px;
}

.footer-info h4, .footer-aabningstider h4
{
    margin-bottom: 20px;
}

.carousel-container 
{
  margin: 0 auto;
  padding: 200px 0;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 1000px;
}

.carousel 
{
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1.5s;
}

.item 
{
  display: block;
  position: absolute;
  background: #000;
  width: 200px;
  height: 200px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #fff;
  border-radius: 10px;
}

.a 
{
  transform: rotateY(0deg) translateZ(400px);
  background: url("../mediefiler/jpg/cases/746_50057.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.b 
{
  transform: rotateY(30deg) translateZ(400px);
  background: url("../mediefiler/jpg/cases/bk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.c 
{
  transform: rotateY(60deg) translateZ(400px);
  background: url("../mediefiler/jpg/cases/boncept.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.d 
{
  transform: rotateY(90deg) translateZ(400px);
  background: url("../mediefiler/jpg/cases/djoef_3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.e 
{
  transform: rotateY(120deg) translateZ(400px);
  background: url("../mediefiler/jpg/cases/image-7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.f 
{
  transform: rotateY(150deg) translateZ(400px);
  background: url("../mediefiler/jpg/cases/kia-cd-cuv-phev-my20-driving-t.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.g
{
  transform: rotateY(180deg) translateZ(400px);
  background: url("../mediefiler/jpg/cases/leo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.h 
{
  transform: rotateY(210deg) translateZ(400px);
  background: url("../mediefiler/jpg/cases/lmwp_upsell_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.i
{
  transform: rotateY(240deg) translateZ(400px);
  background: url("../mediefiler/jpg/cases/mt_teaser_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.j 
{
  transform: rotateY(270deg) translateZ(400px);
  background: url("../mediefiler/jpg/cases/nnit-bg-ny.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.k 
{
  transform: rotateY(300deg) translateZ(400px);
  background: url("../mediefiler/jpg/cases/sst_heart.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.l 
{
  transform: rotateY(330deg) translateZ(400px);
  background: url("../mediefiler/jpg/cases/struersfoto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.next, .prev 
{
   width: 48px;
   height: 48px;
   border-color: #000;
   position: absolute;
   top: 50%;
   margin-top: -31px;
}

.prev
{
   border-bottom: 6px solid;
   border-left: 6px solid;
   transform: rotate(45deg);
   left: 10px;
}
   
.next
{
   border-bottom: 6px solid;
   border-left: 6px solid;
   transform: rotate(-135deg);
   right: 10px;
}

.next:hover, .prev:hover
{
  cursor: pointer;
}

.carousel-title
{
  font-size: 15px;
  font-weight: bold;
  z-index: 1;
  color: #000;
}


@media (max-width: 1000px) {
    .menu-list li a {
        font-size: 15px;
    }
}

@media (max-width: 868px) {
    .icon {
        display: block;
        color: #fff;
    }

    .icon.hide {
        display: none;
    }
    .navbar .menu-list {
        position: fixed;
        z-index: 1;
        top: 0px;
        right: -100%;
        width: 250px;
        background: #273b9c;
        display: block;
        padding: 50px 0;
        text-align: center;
        transition: all .3s ease;
        border-bottom-left-radius: 25px;
    }

    .navbar .menu-list.active {
        right: 0%;
    }

    .navbar .menu-list li {
        margin-top: 45px;
    }

    .navbar .menu-list li a {
        font-size: 20px;
    }
}