*
{
    margin: 0;
    padding: 0;
}



.flexbox-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexbox-item
{
    width: 84%;
    max-width: 1920px;
    border: 3px solid #333;
    background-color: #dfdfdf;
    height: 100%;
}

.flexbox-item-1
{
    
    min-height: 1080px;
}

.flexbox-item-2
{
    min-height: 200px;
}

.flexbox-item-3
{
    min-height: 300px;
}

