*
{
    margin: 0;
    padding: 0;
}

h1
{
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}

h2
{
    font-size: 70px;
    font-weight: bold;
}

h3
{
    font-size: 40px;
    font-weight: bold;
}

h4
{
    font-size: 25px;
    font-weight: bold;
}

p
{
    font-size: 20px;
}

.flexbox-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexbox-item
{
    width: 85%;
    max-width: 1920px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}

.flexbox-item-1
{
    height: 940px;
}

.flexbox-item-2
{
    min-height: 1050px;
}

.flexbox-item-3
{
    min-height: 1360px;
}

.flexbox-item-4
{
    min-height: 428px;
    width: 100%;
    background-color: #5CBFCC;
}

.flexbox-item-5
{
    min-height: 250px;
}

.flexbox-item-6
{
    min-height: 511px;
    width: 100%;
}

.filler
{
    background: #fff;
}

.box-container
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 100px;
}

.box-item
{
    background-color: blue;
    height: 122px;
    width: 264px;
    box-sizing: border-box;
}

.box-container-first, .box-container-second, .box-container-thrid, .box-container-fourth
{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.call-to-action
{
    display: flex;
    justify-content: space-around;
}

.nyhedsbrev-cta, .bliv-kontaktet-cta
{
    width: 337px;
    height: 110px;
    text-align: center;
    background-color: #FF5B4C;
}

.footer
{
    /* background-color: #273B9C; */
    display: flex;
    flex-direction: row;
}

.footer-left, .footer-right
{
    width: 25%;
    height: 517px;
    background-color: red;
}

.footer-middle
{
    width: 50%;
    height: 517px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-middle h4
{
    margin: 10px 0 0 10px;
}

.footer-kbh-maps, .footer-aarhus-maps, .footer-odense-maps, .footer-malmo-maps
{
    width: 300px;
    height: 200px;
    background-color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 32.5px;
}

.logo-footer
{
    max-width: 100%;
    height: auto;
}

.socials-footer
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 10px 0 10px;
}

.social-box
{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.fa-facebook, .fa-twitter, .fa-linkedin, .fa-instagram
{
    text-align: center;
    top: 50%;
    text-decoration: none;
    color: black;
    font-size: 200px;
    transform: translateY(13px);
}

.text-footer-left
{
    display: table;
    margin: 40px 0 0 25px;
}

.text-footer-left-ul
{
    max-width: 50%;  
}

.text-footer-left-ul li
{
    display: inline;
    font-size: 20px;
}

ul
{
    list-style-type: none;
}

.footer-maps
{
    display: table;
}

.footer-maps-ul
{  
    margin: 10px 0 0 10px;
}

.footer-maps-ul li
{
    display: inline;
    font-size: 15px;
}

.footer-maps-container
{
    width: 40%;
    height: auto;
}

.footer-maps-location
{
    width: 60%;
    float: right;
    height: 60%;
    transform: translateY(-47.5%);
}

.logo-footer
{
    max-width: 150%;
    /* max-height: 100%; */
    object-fit: cover;
    border-top-left-radius: 55px 100px;
    border-bottom-left-radius: 55px 100px;
}